.button {
    border: none;
    padding: 10px 60px;
    background: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
    border-radius: 3px;
    transition: all 0.3s;
    &:hover{
        background: rgba(255, 255, 255, 0);
        color: rgb(255, 255, 255);
        box-shadow:0 0 1px 1px rgb(151, 151, 151);
        cursor: pointer;
    }
}

.btn-cv {
    border: 1px solid;
    padding: 10px 60px;
    background: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: all 0.3s;
    margin-left:15px;
    &:hover {
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        cursor: pointer;
    }

    @media (max-width: $desktop-breakpoint) {
       padding: 10px 40px;
       margin: 10px;
    }
}