.App {
  text-align: center;
  font-family: "PT Sans", sans-serif;
}

@import "./styles/settings";
@import "./styles/header";
@import "./styles/chest";
@import "./styles/button";
@import "./styles/body";
@import "./styles/skills";
@import "./styles/footer";
@import "./styles/project";
@import "./styles/contact";
